.sectionHeader {
  font-weight: 400;
  font-size: 34px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.wrapper {
  padding: 50px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
