.list {
  position: absolute;
  top: 100%;
}

.selection {
  display: flex;
  align-items: center;
  font-family: "Segoe", sans-serif;
  color: #424140;
}

.select {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  width: 100%;

  &:hover {
    outline: 1px solid var(--pink);
    color: var(--pink);
  }
}

.selected {
  margin-top: 20px;
}

.headerClassDefault {
  font-family: "Segoe", sans-serif;
  color: #424140;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 10px;
}
