*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

.linkActive {
  background-color: #ee24c4;
  span {
    color: white;
  }
}

.spacer {
  flex-grow: 1;
}

.additionalTopMargin {
  margin-top: 80px;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-center-vertical {
  align-items: center;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.hoverable {
  &:hover {
    cursor: pointer;
  }
}

:root {
  --gray: #707070;
  --pink: #ee24c4;
}
