.UserPanel {
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  padding: 20px;

  .Avatar {
    display: flex;
    justify-content: center;
  }

  .Avatar img {
    margin-top: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .BasicInfo {
    margin: 20px 0;
    font-weight: 500;
    text-align: center;

    div:first-of-type {
      font-size: 32px;
      margin-bottom: 5px;
    }
  }
  .Stats {
    margin-bottom: 50px;

    &Item {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;

      &Last {
        font-size: 12px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
