.Add {
  margin-top: 64px;
}

.Name {
  width: 100%;
}

.Ingredients {
  .All {
    border-radius: 15px;
    border: 2px solid #ee24c4;
    background-color: white;
    width: 100%;
    height: 260px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 15px;
    column-gap: 10px;
  }
}
