.searchWrapper {
  padding: 40px 0;
}

.search {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}

.button {
  height: 36px;
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}

.header {
  font-weight: 400;
  text-align: center;
  font-size: 34px;
  padding-top: 50px;
  margin-top: 0;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.wrapper {
  background-color: white;
}

.list {
  position: absolute;
  top: 90%;
  background-color: white;
  width: 100%;
  padding-bottom: 20px;
}

.wrapper {
  background-color: white;
  position: relative;
}
