.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  overflow: hidden;
  padding-left: 10px;
}

.items {
  display: flex;
  flex-direction: column;
}

.searchInput {
  padding: 10px;
  outline: none;
  margin-top: 35px;
  border: 2px solid rgba(0, 0, 0, 0.54);

  &:focus {
    border: 2px solid #ee24c4;
  }
}
