.Wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

.AddForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

.FormItem {
  margin-top: 20px !important;
}
