.App-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  @media screen and (min-width: 600px) {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.spacer {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.flex-center-vertical {
  align-items: center;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

body {
  --primaryColor: #707070;
}

.hoverable {
  &:hover {
    cursor: pointer;
  }
}
