.PaperBox {
  padding: 4em 2em 3em 2em;
  background: #ffffffaa 0 0 no-repeat padding-box;
  margin: 0 auto;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  text-transform: uppercase;

  .header {
    font-family: "Raleway", sans-serif;
  }
}
