.Wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

.AddForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

.Button {
  margin-top: 20px;
}

.FormControl {
  margin: 20px 0 !important;
}
